body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {

    margin: 50px;
}

canvas{
    margin: 40px;
    width: 200px;
    height: 150px;
}